<div th:fragment="entry-header">
  <div class="panel-heading">
    <h2 th:text="${blog.title}"></h2>
  </div>
</div>

<div th:fragment="entry-body">
  <div class="panel-body">
    <strong>
      <p th:text="${blog.author}" />
    </strong>
    <p th:text="${blog.blogEntry}" />
  </div>
</div>

<div th:fragment="entry-footer">
  <div class="panel-footer">
    <div class="card-footer">
      <a href="#" th:href="@{blogposts/update/{id}(id=${blog.id})}">
        <button class="btn btn-light">Edit Post</button>
      </a>
    </div>
    <!-- Link to Update -->
    <!-- Link to Show  -->
    <!--  Link to Destroy -->
    <form
      action="#"
      th:action="@{'/blogposts/{id}'(id=${blog.id})}"
      th:method="delete"
      class="form-horizontal"
    >
      <div class="form-group">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="btn btn-danger btn-block" th:text="Delete">
          <div class="card-footer">
            <a href="#" th:href="@{blogposts/{id}(id=${blog.id})}">
              <button class="btn btn-light">Edit Post</button>
            </a>
            <a href="#" th:href="@{blogposts/delete/{id}(id=${blog.id})}">
              <button class="btn btn-danger" type="submit">Delete Post</button>
            </a>
          </div>
        </button>
      </div>
    </form>

    <!-- Buttons -->
  </div>
</div>
